<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "active_students" %>
    <br />
    <% if can? :create, Student %>
      <%= link_to "Add a new student", new_student_path, class: "button tiny radius" %>
    <% end %>
    <% if can? :create, Registration %>
      <%= link_to "Add a new registration", new_registration_path, class: "button tiny radius" %>
    <% end %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>
  <div class="small-4 columns">
	  <%= render :partial => "inactive_students" %>
  </div>

</div>