<div id="header">
	<div class="row">
		<div class="medium-7 large-8 columns">
			<h1>Welcome ChessCamp Users!</h1></br>
			<h2>
			Learn new tactics. Meet Friends. Join ChessCamp now!
			</h2>
		</div>
	</div>
</div>
