<div class="row">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "deposit_registrations" %>
    <br />

    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'full_registrations' %>
</div>