<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "camp_registrations" %>
    <%= render :partial => "instructor_assignments" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    
  </div>
</div>