<div class="panel clearfix">
    <h5>Search Chess Camp</h5>
    <ul class="side-nav">
      <li>
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag('query', '', size: 12) %>
        <%= submit_tag('Find') %>
      <% end %>
    </li>
    </ul>
</div>