<div class="row">
  <div class="small-8 columns">
    <% if current_user.role == "instructor" %>
      <%= render :partial => "instructor_dashboard" %>
    <% else %>
      <%= render :partial => "admin_dashboard" %>
    <% end %>
  </div>
  <div class="small-1 columns">&nbsp;</div>

  <div class="small-3 columns">
      <%= render :partial => "search" %>
  </div>
</div>