<h3>Registration Details</h3><br />

<strong>Camp&nbsp;&nbsp;</strong> 
  <%= @family.family_name %><br /><br />

<strong>Payment Status&nbsp;&nbsp;</strong> 
  <%= @family.parent_first_name %><br /><br />

<strong>Points Earned&nbsp;&nbsp;</strong> 
  <%= number_to_phone(@family.phone) %><br /><br />


<%= link_to "Edit this Registration", edit_registration_path(@registration), class: "button tiny radius" %>&nbsp;&nbsp;
