<h1>Contact</h1>

<div id="text">
<p>ChessCamp is unfortunately not a real website, but rather a sample project for programming students at Carnegie Mellon University. We are sure that you wanted to register your children for our intersting camps and curriculums, but that's how it goes sometimes. Please feel free to browse the website at your conveniece anyways as I am very proud of the system I have developed.</p>

<b>Contact Info</b></br>
<p> 
Webmaster: Peter Podniesinski</br>
Email:<%= mail_to("ppodnies@cmu.edu", "Peter Podniesinski", encode: "javascript") %> </br>
Phone:412-268-8211</br>
</p>

<hr>
<b>Personal Note</b><br/>
<p class="note"><br>*I am a sophomore Information Systems major
at Carnegie Mellon University creating this page for young
chess enthusiasts looking to get engaged in the game. </p>

</div>