<h1>Contact</h1>

<div id="text">
<p>Unfortunately, the ChessCamp is not a real veterinarian website, but rather a sample project for programming students at Carnegie Mellon University. We are sure that you wanted treatment for your pets from the most exquisite veterinarians on the planet, but that's how it goes sometimes. If you are bitterly disappointed (and quite honestly, you should be) and want to grouse to someone.</p>

<b>Contact Info</b></br>
<p> 
Webmaster: Peter Podniesinski</br>
Email:<%= mail_to("ppodnies@cmu.edu", "Peter Podniesinski", encode: "javascript") %> </br>
Phone:412-268-8211</br>
</p>

<hr>
<b>Personal Note</b><br/>
<p class="note"><br>*I am a sophomore Information Systems major
at Carnegie Mellon University creating this page for young
chess enthusiasts looking to get engaged in the game. </p>

</div>