<div id="text">
<p><%= image_tag 'chess_photos/Three-peat.jpg', class: "left" %> The Chess Camp are a group of vets dedicated to providing 
	you and your pets with the finest care in the Pittsburgh area.  
	The links below will tell you more about our services and in 
	the near future we will be expanding this site so that 
	customers like yourself can directly access records for your
	pets.
</p>
</div>
	

