<div id="text">
<p><%= image_tag 'chess_photos/Three-peat.jpg', class: "left" %> The Chess Camp was founded by the two sons of Professor Heimann. For the past several years our Chess Camp has provided the community the utmost quality of chess through our rigorous camp systems. We hope you enjoy your experience with our organization.
</p>
</div>
	

