<div class="row">
  <div class="small-6 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "location_details" %>
  </div>

  <div class="small-5 columns">
  	<%= render :partial => "location_map" %>
    &nbsp;
  </div>
</div>